
/* * Variables de color */
:root {
  --white: #fff;
  --black: #000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
/* * Fin de estilos basicos */



/* Contenedor de la pagina */
.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

/* Contenedor main */
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

/* Contenedor del logo & titulo & subtitulo */
.container_logo {
  width: 180px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}

@media (max-width: 640px) {
  .container_logo {
    display: block;
  }
}

.container_title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
}

.container_subtitle {
  font-size: var(--md);
  color: var(--very-light-pink);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}



/* Contenedor de la imagen email */
.container_email {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.container_email img {
  width: 80px;
}



/* Boton resend */
p a {
  font-size: var(--sm);
  color: var(--hospital-green);
  text-decoration: none;
}



