
/* * Variables de color */
:root {
  --white: #fff;
  --black: #000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
}

/* Estilos de body */
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}


/* Estilos de buttom */
.buttom {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
}