/* * Variables de color */
:root {
  --white: #fff;
  --black: #000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 12px;
  --md: 24px;
  --lg: 36px;
}
/* * Fin de estilos basicos */

/* Contenedor de la página */
main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.myorder {
  width: 65%;
}

.myorder-title {
  margin: 40px 0;
  font-size: var(--lg);
}




.myorder-head {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 50px 0;
  height: 80px;
  border-radius: 10px;
  background-color: var(--text-input-field);
  align-items: center;
}
.myorder-head p {
  padding: 0 24px;
  font-weight: 800;
  margin: 0;
}
.myorder-head p:nth-child(2) {
  color: var(--very-light-pink);
}

.myorder-head .head-precio p:nth-child(1) {
  text-align: end;
}



.myorder-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 40px
}

.myorder-card figure {
  margin: 0;
}
.myorder-card figure img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.myorder-card p:nth-child(2) {
  color: var(--very-light-pink);
}

.myorder-card p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}